*{
    font-family: Arial, Helvetica, sans-serif;
    color: black
    ;
}

.tabs {
    font-size: 0;
  }

  .tabs>div {
    /* скрыть контент по умолчанию */
    display: none;
    border: 1px solid #e0e0e0;
    padding: 10px 15px;
    font-size: 16px;
    background-color: pink;
  }

  #tab-btn-1:checked~#content-1,
  #tab-btn-2:checked~#content-2{
    display: block;
  }

  .tabs>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    padding: 2px 8px;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;
  }

  .tabs>label:not(:first-of-type) {
    border-left: none;
  }

  .tabs>input[type="radio"]:checked+label {
    background-color: pink;
    border-bottom: 1px solid #fff;
    
  }

  .Users{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px;
    border-color: black;
    background-color: plum;
  }

  .Users img{
    width: 200px;
    height: 200px;
  }

  .Users1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px;
    border-color: black;
    background-color: aqua;
  }

  .Users1 img{
    width: 200px;
    height: 200px;
  }